<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IIS Node.js configuration -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        
        <!-- All other URLs are mapped to the node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="209715200" />
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- You can control how Node is hosted within IIS using the following options:
      * watchedFiles: semi-colon separated list of files that will be watched for changes to restart the server
      * node_env: will be propagated to node as NODE_ENV environment variable
      * debuggingEnabled - controls whether the built-in debugger is enabled
      * loggingEnabled - controls whether stdout/stderr are redirected to iisnode log
      * devErrorsEnabled - if false, error responses will be generic
      * flushResponse - if false, response will not be flushed immediately
      * maxConcurrentRequestsPerProcess - limits number of concurrent requests per process
      * maxProcessCountPerApplication - limits number of node.exe processes per application
      * maxNamedPipeConnectionRetry - number of retries for named pipe connection
      * asyncCompletionThreadCount - number of async I/O threads
      * initialRequestBufferSize - initial size of request buffer
      * maxRequestBufferSize - maximum size of request buffer
      * watchedFiles - files that trigger restart on change
      * uncFileChangesPollingInterval - interval for polling UNC file shares
      * gracefulShutdownTimeout - time to wait for active requests to finish before shutdown
      * debuggingExceptionBreak - if true, debugger will break on exceptions
      * debugHeaderEnabled - if true, X-IISNODE-DEBUG header is enabled
      * debuggerPortRange - range of ports for debugging
      * logDirectory - directory for iisnode logs
      * debuggerPathSegment - path segment for debugger
      * maxLogFileSizeInKB - maximum log file size
      * maxTotalLogFileSizeInKB - maximum total log size
      * maxLogFiles - maximum number of log files
      * devErrorsEnabled - if false, generic errors are shown
      * flushResponse - if false, response buffering is enabled
      * enableXFF - if true, X-Forwarded-For header is enabled
      * promoteServerVars - comma-separated list of server variables to promote
    -->
    <iisnode
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxProcessCountPerApplication="4"
      maxNamedPipeConnectionRetry="100"
      maxNamedPipeConnectionRetryInterval="2000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      watchedFiles="*.js;node_modules\*;package.json"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      debugHeaderEnabled="false"
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="false"
      flushResponse="false"
      enableXFF="false"
      configOverrides="iisnode.yml"
    />
  </system.webServer>
  
  <appSettings>
    <!-- Environment variables can be set here or in IIS Application Settings -->
    <!-- Example:
    <add key="NODE_ENV" value="production" />
    <add key="PORT" value="process.env.PORT" />
    -->
  </appSettings>
</configuration>







